.news__container {
    padding-bottom: 180px;

    .news {
        position: relative;
        display: flex;
        gap: var(--gap-small);

        .image {
            width: 865px;
            height: 609px;
            object-fit: cover;
        }

        .data-title {
            max-inline-size: 400px;
            padding-block-start: var(--padding-xlarge);
            padding-inline-start: 29px;
            position: absolute;
            right: 0;
            bottom: 0;
            background-color: var(--color-bg);

            h3 {
                font-size: var(--font-size-xlarge);
                color: var(--color-text-primary);
                text-transform: uppercase;
                font-weight: bold;
            }

            p {
                font-size: var(--font-size-small);
                color: var(--color-text-secondary);
                margin-block: var(--padding-large);
            }

            a {
                font-size: 13px;
                color: var(--color-text-primary);
                text-transform: uppercase;
                font-weight: bold;
            }

            a:hover {
                color: var(--color-highlight);
                transition: 0.5s;
                cursor: pointer;
            }
        }

        .aside .title {
            font-size: 17px;
            margin-block-end: 32px;
            color: var(--color-text-primary);
            text-transform: uppercase;
            font-weight: bold;
        }

        .aside .item {
            display: flex;
            gap: var(--gap-xs);
        }

        .aside .item-title {
            color: var(--color-text-primary);
            font-size: var(--font-size-medium);
            font-weight: bold;
        }

        .aside .item-date {
            color: var(--color-text-secondary);
            font-size: var(--font-size-xs);
            text-transform: uppercase;
        }

        .aside .list {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
}

.button__outlined--icon::after {
    content: "➞";
    margin-left: var(--padding-small);
    color: var(--color-highlight);
}